# ----------------------------------------------------------------------------
# File:        ipshape.config
# Description: Configuration file for the fairnat.sh Script
#              You can do all the basic stuff here.
# ----------------------------------------------------------------------------

# --- LAN & Clients ---

# Specify the network device which is connected with your clients.
# The script assumes that this device has one static IP.
DEV_LAN=eth1

# Please tell me how fast your local area network is in kbit/s.
# It must be higher than your internet connection speed.
# However, it is bad if the value is too high.
# Default is 2000kbit == 2MBit.
RATE_LAN=2000

# Specify the clients for which we do Masquerading and Shaping.
# The script assumes that all clients have static IPs in the
# same subnet as your LAN device.
# Example: If the IP of DEV_LAN is 192.168.100.42, the line below
#          would mean that 192.168.100.2, 192.168.100.5, ..., are
#          the IPs of your clients.
USERS="2 5 6 23 183"

# If you have clients which need certain port (ranges) to be forwarded,
# specify them here. The format is "client port client port ...".
# The example below will forward ports 4000-6999 to 192.168.100.2 and
# ports 2000-3999 to 192.168.100.183.
PORTS="2 4000:6999 183 2000:3999"

# --- Internet ---

# Specify the network device that is connected to the internet.
# If you are a dialup user, you have to re-run the script every
# time you redial.
DEV_NET=ppp0

# Specify the upload speed of your internet connection in kbit/s.
# Since ISPs tend to overestimate the speeds they offer, it would
# probably be best if you measure this on a free line.
RATE_UP=128          # 128 kbit (common value for DSL in germany)

# Specify the download speed of your internet connection in kbit/s.
# Same as RATE_UP, you probably should measure this.
RATE_DOWN=768        # 768 kbit (common value for DSL in germany)

# In order to prevent traffic queuing at the ISP side or in your modem,
# we shape to a slightly lower rate. This way the bottleneck is the router,
# not the ISP or modem, which allows us more direct control of shaping.
# Per default, we sub 5% of bandwidth for this. If you do not have the
# bottleneck problem, set it to 0.
RATE_SUB_PERCENT=5

# How much % of the bandwidth should be allowed for the router?
# Use a minimum of 1 here. The router needs bandwidth for DNS caching
# (recommended), and services like FTP and Web (not recommended).
# If you use a too high value, your users will starve.
# If you use a too low value, your router will starve :-)
RATE_LOCAL_PERCENT=5

# --- Binaries: ---

# If you want to specify a certain binary, use "/path/to/bin/foobar"
# instead of `which foobar`.

# BIN_TC: You need a version that supports HTB.
#         Usually this is called tc-htb.
#         If you don't have this, try tc instead of tc-htb.
#         Otherwise download tc-htb from http://luxik.cdi.cz/~devik/qos/htb/
BIN_TC=`which tc-htb`

# Only change these if you need to.
BIN_IPT=`which iptables`
BIN_IFC=`which ifconfig`
BIN_GREP=`which grep`
BIN_SED=`which sed`
BIN_ECHO=`which echo`

# ----------------------------------------------------------------------------
